/*#sessionName{
    color: black;
}
#adminLogin{
    background-color: #cbeff6;
    margin-top: 4em;
    max-width: 40em;
    border-radius: 1em;
}*/

body,
html {
    height: 100%;
    margin: 0;
}

.bg1 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/FondoSAPSO.png");
    background-color: transparent;
    height: 100%;
}

#btnGetDate {
    margin-top: 5em;
}

.dateRequest-card {
    margin-top: 4em;
    background-color: transparent;
    height: 400px;
}

#date_info {
    text-align: center;
}

.detailDateForm {
    max-height: 427px;
    font-size: 11px;
}

.functionary-register {
    margin-bottom: 3px;
    margin-top: 3px;
}

.professional-register {
    margin-bottom: 3px;
    margin-top: 3px;
}

.scheduleDatesFilter {
    margin-bottom: 3px;
    margin-top: 3px;
}

#idInput {
    margin-top: 30px;
}

.homeOptions {
    margin-top: 2em;
    margin-bottom: 2em;
}

#login-form {
    max-width: 300px;
    text-align: center;
}

#security-form {
    width: 500px;
    text-align: center;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    width: 460px;
    overflow: auto;
}

.administratorConsultTable {
    position: relative;
    height: 200px;
    width: 1000px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.nav-link {
    color: white;
    background-color: #f47424;
    margin-right: 15px;
}

.titles {
    margin: 0;
    font: bold;
    color: #FF9900 !important;
}

.scheduleDatesTable {
    font-size: 10px;
    max-width: 650px;
    max-height: 275px;
}

.weekTable {
    max-width: 700px;
    max-height: 400px;
}

#back {
    position: relative;
    left: 0px;
    top: 10px;
}

.btn-success {
    background-color: #FF9900 !important;
    border-color: #FF9900 !important;
}

#instructions {
    color: white;
    background-color: #f47424;
}

#instruction {
    color: black;
    background-color: white;
}

#asignInstruction {
    color: black;
    background-color: #f7dd4b;
}

#welcomeMessage {
    position: relative;
    left: 125px;
    top: 40px;
    color: yellow;
}

.title {
    margin-top: 2em;
    height: 400px;
    background-image: url("../img/FondoSAPSO.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 2em;
    text-align: center;
}

.professional-register{
    color:black !important;
}

.title-professional-register{
    color:orange !important;
    font-weight: bold;
}

#address{
    padding-top: 10%;
}

.buttons-professional-register{
    margin-top: 2em;
}

.btn-action{
    text-align: right;
    padding-right: 0;
}

.btn-action #btn-accept #btn-cancel{
    margin-left: 5em;
}
    
label.error{
    font-weight: bold;
    color: red;
    padding-left: 0.5em;
}